<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th *ngFor="let display of displayedColumns">{{display}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let estacionamento of estacionamentos; let i = index">
            <th scope="row">{{i}}</th>
            <td>{{estacionamento.nome}}</td>
            <td>{{estacionamento.nome_fantasia}}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="Apagar(estacionamento)">Excluir</button>

            </td>
        </tr>

    </tbody>
</table>