<!--<h1>{{ title }}</h1>-->

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
 <!-- <h2>{{est.name }} </h2>  -->
<agm-map [latitude]="est.lat" [longitude]="est.lng" [zoom]="15"  >
    <agm-marker [latitude]="est.lat" [longitude]="est.lng"  [label]="est.label" > </agm-marker>
</agm-map>


<!--<div *ngIf="estacionamento">
    <h2>{{estacionamento.name}} details!</h2>
    <div><label>id: </label>{{hero.id}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="estacionamento.name" placeholder="name" />
    </div>
</div>-->