<div class="login-page">
    <div class="row" [hidden]="submitted">
        <div class="col-md-4 push-md-4">
            <!--<img src="assets/images/logo.png" width="150px" class="user-avatar" />-->
            <h1>Vou Estacionar</h1>
            <form [formGroup]="UserForm" *ngIf="active" (ngSubmit)="login()">
                <!--<div class="form-content">

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Email" name="username" [(ngModel)]="model.username" #username="ngModel" required>

                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                    </div>
                </div>-->

                <div class="form-group">
                    <!--<label for="email">Name</label>-->

                    <input type="text" id="email" class="form-control input-underline input-lg" formControlName="email" placeholder="Email" name="email" required>

                    <div *ngIf="formErrors.email" class="alert alert-danger">
                        {{ formErrors.email }}
                    </div>
                </div>

                <div class="form-group">
                    <!--<label for="alterEgo">Alter Ego</label>-->
                    <input type="password" id="senha" class="form-control input-underline input-lg" formControlName="senha" placeholder="Password" name="senha" required>
                    <div *ngIf="formErrors.senha" class="alert alert-danger">
                        {{ formErrors.senha }}
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="login()"> Log in </a> &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>


<!--
<div class="container">
    <div [hidden]="submitted">
        <h1>Hero Form 3 (Reactive)</h1>
        <form [formGroup]="UserForm" *ngIf="active">
            <div class="form-group">
                <label for="email">Name</label>

                <input type="text" id="email" class="form-control" formControlName="email" required>

                <div *ngIf="formErrors.email" class="alert alert-danger">
                    {{ formErrors.email }}
                </div>
            </div>

            <div class="form-group">
                <label for="alterEgo">Alter Ego</label>
                <input type="text" id="senha" class="form-control" formControlName="senha">
            </div>



            <button type="submit" class="btn btn-default" [disabled]="!UserForm.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="addUser()">New Hero</button>
        </form>
    </div>

</div>-->

<!--<hero-submitted [hero]="hero" [(submitted)]="submitted"></hero-submitted>-->