.profile-area img {
  max-width: 150px;
  margin-bottom: 20px;
}

.panel-body h3 {
  margin-top: 0;
}

.panel-body a{
  font-size: 1.1em;
}

.panel-body{
  text-align: center;
}

textarea{
  margin-top: 10px;
  width: 60%;
  height: 10em;
}

.imagem{
   background-image: url("http://ap.imagensbrasil.org/images/2017/08/10/labrador-retriever.jpg"); 
   width: 300px;
   height: 300px;
     border-radius: 50%;  
   margin: 30px auto;
}


.imagem:hover{
  background-image: url("http://ap.imagensbrasil.org/images/2017/08/10/labrador-escuro7042f.jpg");
     width: 300px;
   height: 300px;
     border-radius: 50%;  
   margin: 30px auto;
}

.texto{
  padding-top: 45%;
}

.texto p{
  font-size: 1.4em;
}

.img-perfil{
  /* width: 200px; */
  /* height: 200px; */
  margin: 30px 0px 30px 0px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
