<div class="row">
    <div class="col-sm-12">
        <div class="card mb-3">

            <div class="card-block">
                <a class="btn-floating btn-large waves-effect waves-light red" (click)="open(content)"> <i class="material-icons">add</i>Adicionar</a>

                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Cadastrar Estacionamento</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">


                        <div class="card-header">Cadastrar Estacionamento</div>
                        <div class="card-block table-responsive">


                            <form role="form" [formGroup]="CadastraForm">
                                <div class="form-group" [ngClass]="{' has-success':!formErrors.nome,'has-danger':formErrors.nome}">
                                    <label class="form-control-label" for="inputSuccess">Nome</label>
                                    <input type="text" class="form-control " formControlName="nome" id="inputSuccess" [ngClass]="{'form-control-success':!formErrors.nome,'form-control-danger':formErrors.nome}">
                                    <div *ngIf="formErrors.nome" class="alert alert-danger">
                                        {{ formErrors.nome }}
                                    </div>
                                </div>
                                <div class="form-group" [ngClass]="{' has-success':!formErrors.nome_fantasia,'has-danger':formErrors.nome_fantasia}">
                                    <label class="form-control-label" for="inputSuccess">Nome Fantasia</label>
                                    <input type="text" class="form-control " formControlName="nome_fantasia" id="inputSuccess" [ngClass]="{'form-control-success':!formErrors.nome_fantasia,'form-control-danger':formErrors.nome_fantasia}">
                                    <div *ngIf="formErrors.nome_fantasia" class="alert alert-danger">
                                        {{ formErrors.nome_fantasia }}
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{' has-success':!formErrors.lat,'has-danger':formErrors.lat}">
                                    <label class="form-control-label" for="inputSuccess">Latitude</label>
                                    <input type="text" class="form-control " formControlName="lat" id="inputSuccess" [ngClass]="{'form-control-success':!formErrors.lat,'form-control-danger':formErrors.lat}">
                                    <div *ngIf="formErrors.lat" class="alert alert-danger">
                                        {{ formErrors.lat }}
                                    </div>
                                </div>
                                <div class="form-group" [ngClass]="{' has-success':!formErrors.lng,'has-danger':formErrors.lng}">
                                    <label class="form-control-label" for="inputSuccess">Longitude</label>
                                    <input type="text" class="form-control " formControlName="lng" id="inputSuccess" [ngClass]="{'form-control-success':!formErrors.lng,'form-control-danger':formErrors.lng}">
                                    <div *ngIf="formErrors.lng" class="alert alert-danger">
                                        {{ formErrors.lng }}
                                    </div>
                                </div>
                              

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                </div>
                                <!--</fieldset>-->

                            </form>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>