<!--<app-page-header [heading]="'Nevegação'" [icon]="'fa-bar-chart-o'"></app-page-header>-->

<div class="row">
    <div class="col-xl-12 text-xs-center">
        <div class="card card-default">
            <div class="card-header">Cadastrar Estacionamento</div>
            <div class="card-block table-responsive">
                <lista (emit)="AutoC($event)"></lista>

                   <app-maps [est]="selectedEstacionamento" ></app-maps>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-3 text-xs-center">
        <div class="card card-default">
            <div class="card-header">Cadastrar Estacionamento</div>
            <div class="card-block table-responsive">

                <button type="button" class="btn btn-success centralizado">Encontre a vaga mais próxima</button>
                <button type="button"  (click)="setCurrentPosition()"class="btn btn-info">Ir para o último local estacionado</button>
                <div class="form-group">
                    <label>Filtro</label>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" value=""> Coberta
                    </label>
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" value=""> Preferencial
                    </label>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-9 text-xs-center">
        <div class="card card-default">
            <div class="card-header">Cadastrar Estacionamento</div>
            <div class="card-block table-responsive">
                <autocomplete-map (Emite)="AutoC($event)"></autocomplete-map>
            </div>
        </div>
    </div>
</div>