<app-page-header [heading]="'Nevegação'" [icon]="'fa-bar-chart-o'"></app-page-header>

<div class="row">
    <div class="col-xl-12 text-xs-center">
        <div class="card card-default">
            <div class="card-header">Mapa de Navegação</div>
            <div class="card-block table-responsive">
                <app-maps [est]="selectedEstacionamentoNovo"></app-maps>

            </div>


        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-3 text-xs-center">
        <div class="card card-default">
            <div class="card-header">Top 5 </div>
            <div class="card-block table-responsive">
                <lista (emit)="AutoL($event)"></lista>


            </div>
        </div>
    </div>

    <div class="col-xl-9 text-xs-center">
        <div class="card card-default">
            <div class="card-header">Pesquisa</div>
            <div class="card-block table-responsive">
                <div class="row">
                    <div class="col-xl-3">
                        <autocomplete-map (Emite)="AutoC($event)"></autocomplete-map>
                    </div>
                    <div class="col-xl-2">
                        <div class="form-group">
                            <label>Filtro</label>
                            <div class="checkbox">
                                <label>
                        <input type="checkbox" value=""> Coberta
                    </label>
                            </div>
                            <div class="checkbox">
                                <label>
                        <input type="checkbox" value=""> Preferencial
                    </label>
                            </div>

                        </div>

                    </div>
                    <div class="col-xl-3">
                        <button type="button" (click)="setCurrentPosition()" class="btn btn-info">Ir para o último local estacionado</button>                        </div>

                    <div class="col-xl-3">
                        <button type="button" class="btn btn-success ">Encontre a vaga mais próxima</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>