button{
    padding: 10px auto;
    margin-bottom: 5px;
    width: 100%;
   
}

.centralizado{
    // margin-top:50%;
    // margin-bottom:50%;
    // width: 960px;
    // margin-left: 50%;
}

#btnEncontrar{
 
}

.margin20top{
    // margin-top: 20px;
 
}

.tam{
height: 42.5vh;
}

.tamanho-mapa{
    padding: 0px!important;
    height: 85vh;
}